html {
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  min-height: -moz-available;
  overflow: hidden;
}
body {
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  min-height: -moz-available;
  overflow: hidden;
}

#__next {
  height: 100%;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  min-height: -moz-available;
  overflow: hidden;
}